<header class="masthead">
    <nav class="language-nav">
      <a href="#">CSS</a>
      <a href="#">HTML</a>
      <a href="#">Javascript</a>
      <a href="#">Ruby</a>
    </nav>

    <img src="assets/AA_Times_Logo.png" class="logo" alt="">
    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li><i class="fal fa-newspaper"></i><strong><a href="#">Today’s Paper</a></strong></li>
      <li><i class="fas fa-video"></i> <a href="#">Video</a> </li>
      <li><button>77°F</button></li>
      <li><button>AAO<strong>+100%</strong></button></li>
    </ul>


</header>
